<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive img-rounded" src="https://www.gravatar.com/avatar/b3c2df4a53c099e934fc1de80b0a18dc?s=200" alt="cornernote">

                <div class="intro-text">
                    <span class="name">Brett O'Donnell</span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Software Architect - Integration Specialist</span>
                </div>
            </div>
        </div>
    </div>
</header>